<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  <customErrors mode="Off" defaultRedirect="~/errors/error.aspx">
  <error statusCode="403" redirect="~/errors/NoAccess.aspx" />
  <error statusCode="404" redirect="~/errors/NotFound.aspx" />
 </customErrors>
 <authentication mode="Forms">
  <forms loginUrl="~/Logout.aspx" timeout="20" />
 </authentication>

 <sessionState mode="InProc" timeout="20" />
  </system.web>
  <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <defaultDocument>
            <files>
                <add value="Login.aspx" />
            </files>
        </defaultDocument>
</system.webServer>
    <connectionStrings>
      <!--Local DB-->
    <add name="connectionString" connectionString="YdruvZ8zuAVskhuJ84plgl68dlCFsuB75p0p26XJ8r5GBMDnhTLCb/ZRnQO4lI6izsEpMK8GIebDcODYfRmTFm5Xj9yaVbuYAqbNMk4V6N4hLjOaxkz5L/F7IiyneLZ6PY5cTi1ilJycGZ9QHuX1Ug==" />
      <!--godaddy DB-->
    <!--<add name="connectionString" connectionString="O32LzaJ510YKSPp+N0Bk2jNr8bAepwiR5aZGDszoVtEqvFLLipR3d91SehkJC004PL5XGS28ONj089U9lCuFQ4Xkfxw6XCuQ3pOjUoZUPxJGOEyTslnRYkZkjo+1PlU3tQnAcvnSCuvKsknQGTM0NQfQ8x8ZM9+SjWdR4V/XvKU=" />-->
    

  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_IService11" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webservice.lolyhub.net/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="webService.IService1" name="BasicHttpBinding_IService1" />
      <endpoint address="http://webservice3.lolyhub.net/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11" contract="WebService3.IService1" name="BasicHttpBinding_IService11" />
    </client>
  </system.serviceModel>
  <appSettings>


    <add key="Enable_SMS" value="True" />
    <add key="SMS_URL" value="http://www.resalty.net/api/sendSMS.php" />
    <add key="SMS_UserID" value="qfoS6FOOBoJGhXGQSIU7qA==" />
    <add key="SMS_UserPass" value="ET7rXBCllUBPvOWaBTiwwQ==" />
    <add key="SMS_Sender" value="qfoS6FOOBoJGhXGQSIU7qA==" />

  </appSettings>

</configuration>